<app-top-nav></app-top-nav>

<section role="main" class="byfi-home-section">
    <div class="byfi-home-container">
        <div class="byfi-top-banner-container">
            <div class="byfi-top-banner-card" [tabIndex]="0">
                <h1 class="byfi-h1-text">
                    Welcome to BYFI (By Your Favorite Items)
                </h1>
            </div>
        </div>

        <div *ngIf="products.length > 0; else noProducts" class="byfi-products-container">
            <div *ngFor="let product of products" class="byfi-product-card" [tabIndex]="0">
                <div class="byfi-product-image-container">
                    <img [src]="product.image" alt="{{ product.title }}" class="byfi-product-image">
                </div>
                <div class="byfi-product-content">
                    <h2 class="byfi-product-title">{{ product.title }}</h2>
                    <p class="byfi-product-description">{{ product.description }}</p>
                    <p class="byfi-product-price">Price: {{ product.price | currency }}</p>
                    <div class="d-flex justify-content-between">
                        <button class="byfi-product-btn w-100 m-1">Buy Now</button>
                        <button class="byfi-add-to-cart-btn w-100 m-1">Add to Cart</button>
                    </div>
                </div>
            </div>
        </div>

        <ng-template #noProducts>
            <p class="byfi-no-products">No products available.</p>
        </ng-template>
    </div>
</section>