<section class="byfi-nav-section">
  <div class="byfi-top-nav-container">
    <div class="byfi-logo-container d-flex align-items-center">
      <span class="fluent-emoji--shopping-bags"></span>
      <h1 class="fs-2">BYFI</h1>
    </div>
    <div class="byfi-search-form">
      <form>
        <input
          type="search"
          name="search"
          id="search"
          class="byfi-g-search"
          placeholder="Search"
        />
        <span class="byfi-search-icon"></span>
      </form>
    </div>

    <div class="byfi-right-menu d-flex align-items-center">
      <div class="dropdown">
        <button
          class="btn btn-light dropdown-toggle"
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          My Orders
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Orders</a></li>
          <li><a class="dropdown-item" href="#">Cart</a></li>
        </ul>
      </div>
      <a href="/account">Account</a>
    </div>
  </div>
</section>
