<section class="byfi-nav-section sticky-top shadow">

    <!-- top-nav starts here -->
    <div class="byfi-top-nav-container">

        <a href="/home" class="byfi-logo-container d-flex align-items-center">
            <span class="fluent-emoji--shopping-bags"></span>
            <h1 class="fs-2">BYFI</h1>
        </a>

        <div class="byfi-search-form-container">
            <form class="byfi-search-form">
                <input type="search" name="search" id="search" class="byfi-g-search" placeholder="Search" />
            </form>
        </div>

        <div class="byfi-right-menu d-flex align-items-center gap-1">
            <div class="dropdown">
                <button class="btn btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    My Orders
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Orders</a></li>
                    <li><a class="dropdown-item" href="#">Cart</a></li>
                </ul>
            </div>
            <a href="/account">Account</a>
        </div>

        <div class="byfi-dropdown-menu-container">
            <div class="dropdown mb-1">
                <button class="border-0 bg-transparent d-flex align-items-center" type="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="byfi-top-nav-menu-icon"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/orders">Orders</a></li>
                    <li><a class="dropdown-item" href="/cart">Cart</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="/profile">Profile</a></li>
                </ul>
            </div>
        </div>

    </div>
    <!-- top-nav ends here -->

    <!-- bottom-nav starts here -->
    <div class="byfi-bottom-nav-container">
        <nav class="d-flex gap-1 align-items-center byfi-bottom-nav">
            <!-- <a href="/home">Home</a> -->

            <ul class="d-flex align-items-center gap-1 mt-3">
                <!-- Loop through the routesArray to display the main routes -->
                <li *ngFor="let item of routesArray" class="nav-item">
                    <a [href]="'/' + item.path" *ngIf="!item.subRoutes">
                        {{ item.name }}
                    </a>

                    <!-- If there are subRoutes, handle them as a dropdown or submenu -->
                    <div class="dropdown" *ngIf="item.subRoutes">
                        <button class="border-0 bg-transparent p-0 dropdown-toggle" type="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            {{ item.path }}
                        </button>
                        <ul class="dropdown-menu">
                            <li *ngFor="let sub of item.subRoutes">
                                <a [href]="'/' + sub.path" class="dropdown-item">{{ sub.name }}</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </nav>
    </div>
    <!-- bottom-nav ends here -->



</section>