.byfi-nav-section {
    .byfi-top-nav-container {
        background-color: #fff;
        border-bottom: 1px solid #999999;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px;

        .byfi-search-form-container {
            .byfi-search-form {
                .byfi-g-search {
                    box-sizing: border-box;
                    border-radius: 5px;
                    background-image: url("../../../assets/svg/search-icon.svg");
                    background-position: 10px 10px;
                    background-repeat: no-repeat;
                    padding: 10px 18px 10px 38px;
                }

                .byfi-search-icon {}
            }
        }
    }
}