/* You can add global styles to this file, and also import other style files */
@import './assets/icons/icons.scss';

:root {
  input:focus-visible {
    border: 2px solid #000000;
    outline: none;
  }

  button:focus-visible {
    border: 2px solid #000000 !important;
    box-shadow: none !important;
  }
}

* {
  margin: 0;
  padding: 0;
}