/* You can add global styles to this file, and also import other style files */
@import './assets/icons/icons.scss';

:root {
  :focus-visible {
    outline: 2px solid #000000 !important;
    box-shadow: none !important;
    border: none !important;
  }
}

* {
  margin: 0;
  padding: 0;
}
